input:focus:not(.whereTo-field) {
    border: 2px solid #3ACCE1;
}

.homeContainer {
    -webkit-transition: margin .4s ease-in;
    -moz-transition: margin .4s ease-in;
    -o-transition: margin .4s ease-in;
    transition: margin .4s ease-in;
}