.map {
    top: 0px;
    position: absolute;
    z-index: -1;
}

.truckimg {
    width: 50px;
}

.fa-location-arrow {
    line-height: 9px !important;
}

.userlist {
    width: 100%;
    height: 40px;
}