.fa-2x {
    font-size: 2em;
}

.fa {
    position: relative;
    display: table-cell;
    width: 60px;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    cursor: pointer;
}

.fas {
    position: relative;
    display: table-cell;
    width: 60px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    cursor: pointer;
}

.bar {
    display: block;
    width: 1.6em;
    height: 0.15em;
    margin: 0.4em;
    border-right: 2em solid #454f62;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition-property: -webkit-transform, margin, border-right-color, box-shadow;
    -webkit-transition-property: margin, border-right-color, -webkit-transform, -webkit-box-shadow;
    transition-property: margin, border-right-color, -webkit-transform, -webkit-box-shadow;
    -o-transition-property: transform, margin, border-right-color, box-shadow;
    transition-property: transform, margin, border-right-color, box-shadow;
    transition-property: transform, margin, border-right-color, box-shadow, -webkit-transform, -webkit-box-shadow;
    -webkit-transition-duration: 600ms;
    -o-transition-duration: 600ms;
    transition-duration: 600ms;
    border-radius: 9px;
}

.bar:nth-of-type(1) {
    width: .6em;
    border-right: 1.3em solid #454f62;
}

.bar:nth-of-type(3) {
    border-right: 1.3em solid #454f62;
    width: 2em;
}

.shiftRight {
    margin-left: 60px;
}

.openNav {
    width: 60px !important;
}

@media only screen and (min-width : 1224px) {

    .main-menu:hover,
    nav.main-menu.expanded {
        width: 200px !important;
        overflow: visible;
    }

    .main-menu:hover>.profile-pic-container div {
        display: block;
    }

    .main-menu:hover>.profile-pic-container {
        left: calc(50% - 50px);
    }

    .main-menu:hover>.profile-pic-container img {
        max-width: 100px;
        box-shadow: 0 0 15px #202020;
    }
}

.main-menu {
    background: #e9168c;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    width: 0px;
    overflow: hidden;
    -webkit-transition: width .05s linear;
    transition: width .05s linear;
    -webkit-transform: translateZ(0) scale(1, 1);
    z-index: 1000;
}

.main-menu>ul {
    margin: 7px 0;
}

.main-menu li {
    position: relative;
    display: block;
    width: 250px;
    padding: 5px 0px;
}

.main-menu li>a {
    position: relative;
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    color: #fff;
    font-family: arial;
    font-size: 14px;
    text-decoration: none;
    -webkit-transform: translateZ(0) scale(1, 1);
    -webkit-transition: all .1s linear;
    transition: all .1s linear;

}

.navImageContainer img {
    display: block;
    margin: 0 auto;
    padding-top: 10px;
}

.main-menu .nav-icon {
    position: relative;
    display: table-cell;
    width: 60px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
}

.main-menu .nav-text {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    width: 140px;
}

.main-menu>ul.logout {
    position: absolute;
    left: 0;
    bottom: 0;
}

.no-touch .scrollable.hover {
    overflow-y: hidden;
}

.no-touch .scrollable.hover:hover {
    overflow-y: auto;
    overflow: visible;
}

a:hover,
a:focus {
    text-decoration: none;
}

nav {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

nav ul,
nav li {
    outline: 0;
    margin: 0;
    padding: 0;
}

.main-menu li:hover>a,
nav.main-menu li.active>a {
    color: #fff;
    background-color: #454F63;
}

.profile-pic-container {
    top: 20px;
    left: calc(50% - 26px);
    position: relative;
    padding-bottom: 35px;
}

.profile-pic {
    max-width: 50px;
    border-radius: 20px;
}

.rating-container {
    background-color: #333;
    border-radius: 0px 0px 30px 0px;
    width: 50px;
    height: 40px;
    position: absolute;
    top: 75px;
    left: 52px;
    display: none;
}

.fa-star {
    font-size: 10px;
    display: inline;
    padding-right: 2px;
}

.rating {
    color: #fff;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding-top: 8px;
}

.logout {
    cursor: pointer;
}