.splash-container {
    color: #fff;
    background-color: #111111;
    font-size: 16px;
    height: 100vh;
}

.logo {
    width: 300px;
    display: block;
    margin: 0 auto;
}

.title {
    font-size: 3em;
    text-align: center;
}

.colorU {
    color:#e9168c;
}

.slogan {
    font-size: 1em;
    text-align: center;
}

.existingContainer {
    padding-top: 20px;
    text-align: center;
    clear: both;
}

.existingContainer a {
    color:#fff;
}

.fb-button {
    background-color: #4267B2;
    color: #ffffff;
    width: 20em;
    height: 3em;
    border: none;
    border-radius: 9px;
    font-size: 1em;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

.fa-facebook{
    float:left;
}

.emailButton{
    background-color: #e9168c;
    color: #ffffff;
    width: 20em;
    height: 3em;
    border: none;
    border-radius: 9px;
    font-size: 1em;
    cursor: pointer;
    margin:30px auto;
    display: block;
}