.splash-container {
    color: #fff;
    background-color: #111111;
    font-size: 16px;
    height: 100vh;
}

.logo {
    width: 300px;
    display: block;
    margin: 0 auto;
}

.title {
    font-size: 3em;
    text-align: center;
    font-weight: lighter;
}

.colorU {
    color:#e9168c;
}

.slogan {
    font-size: 1em;
    text-align: center;
}

.emailButton{
    background-color: #e9168c;
    color: #ffffff;
    width: 20em;
    height: 3em;
    border: none;
    border-radius: 9px;
    font-size: 1em;
    cursor: pointer;
    margin:30px auto;
    display: block;
}

.auth0-lock-badge-bottom {
    display: none!important;
}

.auth0-lock-center {
    font-family:'Gibson', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.auth0-lock-overlay {
    background: #111111!important;
    opacity: .8!important;
}

.termsSignupContainer {
    padding:30px 10px;
    font-size: 12px;
    text-align: center;
}

.termsSignupContainer p a {
    color: #fff;
}