.navHamburger {
    position: absolute;
    right: 60px;
    top: 20px;
    cursor: pointer;
    color: #454f62;
}

.side {
    float:left;
    height:132px;
    width:35px;
    background-color:#fff;
    border-radius: 9px 0px 0px 9px;
  }
  
  .internalImage1 {
    line-height:32px;
    display:block;
    margin:0 auto;
    text-align:center;
    color: #78849E;
    font-size: 1em;
  }
  
  .internalImage2 {
    line-height:16px;
    display:block;
    margin:0 auto;
    text-align:center;
    color:#78849E;
    font-size:.6em;
    opacity: .3;
  }
  
  .inputContainer {
    float: left;
    background-color: #fff;
    width: 90%;
    border-radius: 0px 9px 9px 0px;
  }
  
  .whereTo-field {
    display: block;
    border: none;
    padding: 10px;
    width: 90%;
    font-size: 1em;
    border-radius: 9px;
  }
  
  .navContainer {
    background-color:#fff;
    width:80%;
    display: block;
    margin: 0 auto;
    height:auto;
    z-index:10;
    border-radius: 9px;
    margin-top:20px;
  }

  .navContainer:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .navContainer label {
    padding-left: 10px;
    color: #959DAD;
    font-size: .8em;
  }
  
  .navContainer hr {
    width: 95%;
    color: #ccc;
    border-top: none;
    border-radius: 9px;
  }